body {
font-family: system-ui, sans-serif;
background:linear-gradient(to left top, #070744, #156397 , #00ff00, #ff3399, #6666ff);
}

.lead{
    font-size: 1.5em;
    font-weight: 300 ;
}

section{
    background: white;
    padding: 20px;
    margin: 10px 0;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to left top, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.rainbow2 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated2{
    background: linear-gradient(to right, #e40911, #ffb700 , #0bb13f, #8e1ccc, #0b0bd2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

section h2{
    margin-top: 0;
}

th{
    text-align: start;
    border-bottom: 1px solid black;
}

table{
    border-collapse: collapse;
}

th,td {
    padding: 5px 10px;
}

td.price{
    text-align: end;
}

.form-group{
    margin-bottom: 10px;
    font-weight: 00;
}

label{
    display: block;
}

.inline-label{
    display: inline-block;
}

textarea{
    width: 100%;
    min-height: 100px;
}

#container{
    max-width: 800px;
    margin: auto;
}